h1 {
  font-family: 'Source Code Pro', ;
  font-weight: bold;
  font-size: 11em;
}

/* Nav Bar*/

.navbar-default .navbar-brand {
color: #024692;
font-size: 1.7em;
}

body {
  width:100%;
  height: 100%;
}


/*Intro section*/
.intro-section {
    height: 100%;
    padding-top: 91px;
    text-align: center;
    background: #fff;
}

.fullscreen-img-container{
  width:100%;
  z-index: -1;
}

h4 {
  font-family: 'Source Code Pro', ;
  font-size: 1.5em;
}

img {
  width: 100%;
  position: relative;
}

.intro-text-img {
  position: absolute;
  width: 100%;
  color: white;
  top: -32em;
 
}


.about-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #eee;
    font-family: 'Karla', sans-serif;
}

.video-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
    font-family: 'Karla', sans-serif;
}

.quotes-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #eee;
    font-family: 'Karla', sans-serif;
}

@media(min-width:767px) {
    .navbar {
        font-family: 'Karla', sans-serif;
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}